/* .bubble-container {
  position: relative;
} */

.bubble {
  width: 150px; /* Initial width of the bubble */
  height: 150px; /* Initial height of the bubble */
  background-image: url('../../../public/assets/Bubble.png');
  background-size: cover;
  animation: bubbleAnimation 16s infinite; /* Set animation properties */
  z-index: 3;
  margin: auto;
  bottom: 0;
}

@keyframes bubbleAnimation {
  0%, 100% {
    width: 150px; /* Initial width */
    height: 150px; /* Initial height */
  }
  25% {
    width: 150px; /* Grow - increase size for 4 seconds (1/6th of the animation duration) */
    height: 150px;
  }
  50% {
    width: 250px; /* Hold - maintain size for 4 seconds (1/6th of the animation duration) */
    height: 250px;
  }
  75% {
    width: 250px; /* Hold - maintain size for 4 seconds (1/6th of the animation duration) */
    height: 250px;
  }
}

@media (min-width: 450px) {
  .bubble {
    width: 300px; /* Adjust the width for larger screens */
    height: 300px; /* Adjust the height for larger screens */
  }

  @keyframes bubbleAnimation {
    0%, 100% {
      width: 300px; /* Initial width */
      height: 300px; /* Initial height */
    }
    25% {
      width: 300px; /* Grow - increase size for 4 seconds (1/6th of the animation duration) */
      height: 300px;
    }
    50% {
      width: 450px; /* Hold - maintain size for 4 seconds (1/6th of the animation duration) */
      height: 450px;
    }
    75% {
      width: 450px; /* Hold - maintain size for 4 seconds (1/6th of the animation duration) */
      height: 450px;
    }
  }
}