/* .bubble-container {
  position: relative;
} */

.bubble {
  width: 150px; /* Initial width of the bubble */
  height: 150px; /* Initial height of the bubble */
  background-image: url('../../../public/assets/Bubble.png');
  background-size: cover;
  animation: bubbleAnimation 24s infinite; /* Set animation properties */
  z-index: 3;
  margin: auto;
  bottom: 0;
}

@keyframes bubbleAnimation {
  0%, 100% {
    width: 150px; /* Initial width */
    height: 150px; /* Initial height */
  }
  12.5% {
    width: 150px; /* Stay at smallest size for 5% of the animation duration (4 seconds) */
    height: 150px;
  }
  25% {
    width: 250px; /* Final width - reached halfway through the animation */
    height: 250px; /* Final height - reached halfway through the animation */
  }
  37.5% {
    width: 250px; /* Maintain size for 5% of the animation duration (pause) */
    height: 250px;
  }
  50% {
    width: 250px; /* Maintain size for 5% of the animation duration (pause) */
    height: 250px;
  }
  62.5% {
    width: 150px; /* Shrink back to initial width */
    height: 150px; /* Shrink back to initial height */
  }
}

@media (min-width: 450px) {
  .bubble {
    width: 300px; /* Adjust the width for larger screens */
    height: 300px; /* Adjust the height for larger screens */
    animation: bubbleAnimation 24s infinite; /* Set animation properties */
  }

  @keyframes bubbleAnimation {
    0%, 100% {
      width: 300px; /* Initial width */
      height: 300px; /* Initial height */
    }
    12.5% {
      width: 300px; /* Stay at smallest size for 5% of the animation duration (4 seconds) */
      height: 300px;
    }
    25% {
      width: 450px; /* Final width - reached halfway through the animation */
      height: 450px; /* Final height - reached halfway through the animation */
    }
    37.5% {
      width: 450px; /* Maintain size for 5% of the animation duration (pause) */
      height: 450px;
    }
    50% {
      width: 450px; /* Maintain size for 5% of the animation duration (pause) */
      height: 450px;
    }
    62.5% {
      width: 450px; /* Shrink back to initial width */
      height: 450px; /* Shrink back to initial height */
    }
  }
}