/* Assuming your image has a specific class name, for example, "responsive-image" */
.emoji-image {
    /* Default size for larger screens */
    width: 100%; /* Or your desired width */
  
    /* Adjusting size for screens less than 400 pixels */
    @media screen and (max-width: 770px) {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* Adjust the width to your preference */
      /* You can also use max-width or other CSS properties for more control */
    }
  }
  .footer {
    position: relative;
  left: 0;
  bottom: 0;
  }
  